name: Test

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on: pull_request

jobs:
  run-tests:
    name: Run Tests
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: buildjet-8vcpu-ubuntu-2204-arm
          - os: ubuntu-22.04
          - os: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          if [ "${{ runner.os }}" = "Linux" ]; then
            sudo apt-get update && sudo apt-get install -y make
          fi
          make setup
          if [ "${{ runner.os }}" = "macOS" ]; then
            test -f ./venv/bin/activate && . ./venv/bin/activate && conan profile show
          fi
      
      - name: Lint
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          make lint
          if ! git diff --quiet; then
            echo -e "\033[31mError: lint make target produced changes. Please run 'make lint' locally and commit the results.\033[0m"
            git diff
            exit 1
          fi

      - name: Install Conan dependencies
        run: |
          make conan-install-test

      - name: Run the tests
        run: make test-native

      - name: Check binary dependencies
        if: runner.os == 'Linux'
        run: |
          # Build the release binary to check dependencies
          test -f ./venv/bin/activate && . ./venv/bin/activate
          conan create . -o "&:with_tests=False" -s:a build_type=Release -s:a compiler.cppstd=17 --build=missing --output-folder=build-dep-check

          # Run dependency check script
          ./bin/test-dynamic-deps.sh build-dep-check/build/Release/viam-camera-realsense
