name: Test

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on: pull_request

jobs:
  run-tests:
    name: Run Tests
    timeout-minutes: 40
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: buildjet-8vcpu-ubuntu-2204-arm
            container:
              image: ghcr.io/viam-modules/viam-camera-realsense:arm64
              options: --platform linux/arm64
          - os: ubuntu-latest
            container:
              image: ghcr.io/viam-modules/viam-camera-realsense:amd64
              options: --platform linux/amd64
          - os: macos-14
            container: null

    container: ${{ matrix.container }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache venv
        if: runner.os == 'macOS'
        uses: actions/cache@v3
        with:
          path: venv
          key: ${{ matrix.os }}-venv-${{ hashFiles('bin/setup.sh') }}

      - name: Cache Conan packages
        if: runner.os == 'macOS'
        uses: actions/cache@v3
        with:
          path: ~/.conan2
          key: ${{ matrix.os }}-conan-${{ hashFiles('**/conanfile.py') }}
          restore-keys: |
            ${{ matrix.os }}-conan-

      - name: Cache build-native directory
        if: runner.os == 'macOS'
        uses: actions/cache@v3
        with:
          path: build-native
          key: ${{ matrix.os }}-build-native-${{ hashFiles('CMakeLists.txt', 'Makefile', 'src/**/*.cpp', 'src/**/*.hpp') }}
          restore-keys: |
            ${{ matrix.os }}-build-native-

      - name: Cache vendored librealsense
        if: runner.os == 'macOS'
        uses: actions/cache@v3
        with:
          path: vendor/librealsense-install
          key: ${{ matrix.os }}-librealsense-${{ hashFiles('bin/build_librealsense_macos.sh', 'CMakeLists.txt') }}

      - name: Install dependencies
        if: runner.os == 'macOS'
        run: |
          make setup
          test -f ./venv/bin/activate && . ./venv/bin/activate && conan profile show

      - name: Install Conan dependencies
        if: runner.os == 'macOS'
        run: |
          make conan-install-test

      - name: Run the tests
        run: make test-native
