name: Test

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on: pull_request

jobs:
  run-tests:
    name: Run Tests
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: buildjet-8vcpu-ubuntu-2204-arm
            container:
              image: ghcr.io/viam-modules/viam-camera-realsense:arm64
              options: --platform linux/arm64
          - os: ubuntu-latest
            container:
              image: ghcr.io/viam-modules/viam-camera-realsense:amd64
              options: --platform linux/amd64
          - os: macos-latest
            container: null

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          make setup
          ./bin/build_librealsense_macos.sh

      - name: Run the tests
        run: make test-native
