name: Test

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on: pull_request

jobs:
  run-tests:
    name: Run Tests
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: buildjet-8vcpu-ubuntu-2204-arm
            container:
              image: ghcr.io/viam-modules/viam-camera-realsense:arm64
              options: --platform linux/arm64
          - os: ubuntu-latest
            container:
              image: ghcr.io/viam-modules/viam-camera-realsense:amd64
              options: --platform linux/amd64

    container: ${{ matrix.container }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run linter and check formatting
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-19
          find ./src/module -type f \( -name \*.cpp -o -name \*.hpp \) | xargs clang-format-19 --dry-run --Werror --style=file
          find ./test -type f \( -name \*.cpp -o -name \*.hpp \) | xargs clang-format-19 --dry-run --Werror --style=file

      - name: Install dependencies
        run: |
          make setup

      - name: Build the binary
        run: make module.tar.gz

      - name: Run the tests
        run: make test
