name: Test

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on: pull_request

jobs:
  run-tests:
    name: Run Tests
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: buildjet-8vcpu-ubuntu-2204-arm
          - os: ubuntu-22.04
          - os: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Restore cached Conan dependencies
        uses: actions/cache@v3
        with:
          path: ~/.conan2
          key: ${{ matrix.os }}-conan-${{ hashFiles('**/conanfile.py') }}
          restore-keys: |
            ${{ matrix.os }}-conan-

      - name: Install dependencies
        run: |
          if [ "${{ runner.os }}" = "Linux" ]; then
            sudo apt-get update && sudo apt-get install -y make
          fi
          make setup
      
      - name: Lint
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          make lint
          if ! git diff --quiet; then
            echo -e "\033[31mError: lint make target produced changes. Please run 'make lint' locally and commit the results.\033[0m"
            git diff
            exit 1
          fi

      - name: Run tests
        run: make test

      - name: Check binary dependencies
        if: runner.os == 'Linux'
        run: |
          # The binary was built by 'make test' in build-native/
          ./bin/test-dynamic-deps.sh build-native/viam-camera-realsense
